<div class="row placeholders">
    <h1 class="text-center page-header">Estos son tus productos registrados</h1>
    <% 
        int contador = 1;
        for(int i = 0; i < 3; i++){ 
    %>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/150x150/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Producto <%= contador++ %></h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/150x150/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Producto <%= contador++ %></h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/150x150/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Producto <%= contador++ %></h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/150x150/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Producto <%= contador++ %></h4>
            <span class="text-muted">Something else</span>
        </div>
    <% } %>
</div>