<div class="row placeholders">
    <h1 class="text-center page-header">Tienes un producto nuevo? <small>REGISTRALO</small></h1>
    <form class="form-horizontal" role="form">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombreP" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombreP" placeholder="Nombre del producto">
                </div>
            </div>
            <div class="form-group">
                <label for="precioP" class="col-sm-2 control-label">Precio de Venta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="precioP" placeholder="Formato 00.00">
                </div>
            </div>
            <div class="form-group">
                <label for="descuentoP" class="col-sm-2 control-label">Descuento</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="descuentoP" placeholder="Descuento aplicado al prodcuto">
                </div>
            </div>
            <div class="form-group">
                <label for="codigoP" class="col-sm-2 control-label">C&oacute;digo promocional</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="codigoP" placeholder="C&oacute;digo Promocional">
                </div>
            </div>
            <div class="form-group">
                <label for="descripcionP" class="col-sm-2 control-label">Descripci&oacute;n</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="descripcionP" placeholder="Descuento aplicado al prodcuto"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <img data-src="holder.js/150x150/auto/sky" class="img-responsive col-md-offset-3" alt="Generic placeholder thumbnail">
                <button class="btn btn-default" >Cargar imagen</button>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button class="btn btn-success" type="submit">Registrar</button>
                    <button class="btn btn-default" type="reset">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
</div>